body {
  margin: 0
}

header {
  background-color: #404040;
  color: white;
  margin-bottom: 10px;
}

.login {
  padding: 15px 0;
}

.navi {
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #666;
}

a:visited {
  color: white;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  margin: auto;
  width: 100%;
  text-align: center;
}
