select {
  display: inline-block;
  background-color: #e4742d;
}

#tablefilters {
  background-color: #404040;
  color: white;
}

#tablefilters p {
  margin: 8px 0;
  display: inline-block;
}

#tasktable tr:first-child td {
  background-color: #155f82;
  color: white;
}

#tasktable td {
  width: 20%;
  background-color: #c0c0c0;
}

#tasktable tr:nth-child(even) td {
  background-color: #999;
}

#optiontable {
  background-color: #404040;
}

#optiontable td {
  width: 33%;
}

table {
  margin: auto;
  width: 500px;
  text-align: center;
}

.taskselect {
  background-color: yellow;
}
